# Alguns recados
- Horários (início e intervalo)
- Presença
- Câmera
- Vagas
- Cronograma de aulas

# IDE
- Visual Studio Code - Extensão Jupyter
- Colab google - https://colab.research.google.com/
- Deep note - https://deepnote.com/
- JupyterLite - https://jupyter.org/try
- Kaggle Kernels - https://www.kaggle.com/

- Diversas opções:
  - https://cocalc.com/features/jupyter-notebook
  - https://www.codingrooms.com/compiler/jupyter-notebook
  - https://mybinder.org/

## Tópicos da aula

 - Variáveis
 - Tipos básicos
 - Entradas/Saídas
 - Operadores Algébricos
 - Operadores de comparação

Notebook está no class: https://s3-sa-east-1.amazonaws.com/lcpi/776fc419-af6e-432a-a269-3a48f279b7b2.ipynb

## Variáveis
Variável é o nome dado ao tipo de conteúdo que pode apresentar diferentes valores enquanto o sistema está em execução. Tudo dependerá do comando do usuário e o tipo de operação que é realizado.  
Imagine que você conhece uma nova pessoa. A variável seria o lugar no seu cérebro no qual você guarda, por exemplo, o nome desta pessoa, ou seja, é alocado um espaço para armazenar esta informação e posteriormente é passado o valor referente aquele dado.

```
nome = "Renata"
```

## Tipos básicos

Podemos ter informações relacionadas às outras pessoas como nome, idade e salário. Cada uma delas possui o que chamamos de tipos de variável. Os tipos de dados são os seguintes:

In [1]:
# Esta é uma forma de comentar o código. Toda esta informação não será processada
# Podemos passar variáveis de texto (str) com aspas duplas
nome = "Renata"
type(nome)

str

In [2]:
# Ou aspas simples
nome = 'Renata'
type(nome)

str

In [3]:
idade = 29
type(idade)

int

In [5]:
idade = 29.
type(idade)

float

In [6]:
idade = "29"
type(idade)

str

In [4]:
salario = 1000.00 # Cuidado que no python o decimal é separado por .
type(salario)

float

In [9]:
certificado = True # Cuidado com o F maiúsculo -> True é diferente de true 
type(certificado)

bool

## Entradas

Para solicitarmos entradas de informações a serem fornecidas pelo usuário podemos utilizar a função input. Com ela você poderá (opcional) passar uma mensagem instrutiva ao usuário do que deseja que ele insira.  
No exemplo abaixo utilizaremos o input.

In [10]:
input()

'ahdahahdahad'

**Intuição**  
Veja que ele funciona, porém sem uma mensagem de qual informação é solicitada não é possível identificar o que se deve passar ao programa.

In [11]:
input('Insira sua idade: ')

'22'

**Variável**  
Podemos guardar o valor passado pelo usuário numa variável

In [12]:
idade = input('Insira sua idade: ')

Repare nas aspas que saem quando utilizamos apenas a função input. Isso quer dizer que este valor capturado pelo programa é uma string, independente do que o usuário insira.

In [13]:
type(idade)

str

**Convertendo o tipo de dado**  
Neste caso é interessante que a idade seja um número, visto que em geral o utilizamos para realizar contas, por exemplo. Para converter este valor para um inteiro, podemos fazer da seguinte forma:

In [14]:
int(idade)

22

In [15]:
float(idade)

22.0

In [16]:
str(float(idade)) #idade é originalmente string, transformei para float e depois para string novamente

'22.0'

In [17]:
int(float(idade))

22

In [18]:
float('Renata')

ValueError: could not convert string to float: 'Renata'

In [21]:
int('00123')

123

E para simplificar ainda mais é comum que já realizemos a conversão da variável logo na chamada do input.

In [22]:
idade = int(input('Insira sua idade: '))
# Para valores do tipo ponto flutuante, ou seja, numéricos com valores decimais, utilizamos o float

In [23]:
type(idade)

int

## Saídas

Em diversas situações desejamos imprimir na tela o resultado de alguma operação que realizamos ou simplesmente emitirmos uma mensagem, para estas situações utilizamos o print.

In [24]:
print()

In [25]:
print('Você pode utilizar o print para imprimir na tela o que você quiser')

Você pode utilizar o print para imprimir na tela o que você quiser

In [26]:
print("Aspas duplas também funcionam") # comentário no código, ou seja, ele não executa o que está a frente do #

Aspas duplas também funcionam

In [27]:
print('Podemos pular linha \ncom este símbolo') # \n

Podemos pular linha
com este símbolo

In [29]:
print('\tÉ possível utilizar a tabulação também') # \t

	É possível utilizar a tabulação também

In [32]:
print('Também podemos')
print('usar o print')
print('várias vezes na mesma célula')

Também podemos
usar o print
várias vezes na mesma célula

**Mais de um argumento**  
Para imprimir mais de uma informação, o print permite inserir quantos argumentos forem necessários, desde que separados por vírgula. Veja o exemplo:

In [35]:
print('Olá', 'eu sou Renata', 'muito prazer')

Olá eu sou Renata muito prazer

**Print de variáveis**  
Também é possível imprimir variáveis de forma simples, basta passar o nome dado para a variável dentro dos parênteses.

In [36]:
print(idade)

22

E se for necessário imprimir a mensagem 'Olá, eu sou Bruno Issamo", de forma que o nome e o sobrenome sejam provenientes de variáveis nome e sobrenome.

In [37]:
nome = 'Renata'
sobrenome = 'Marchese'

In [40]:
print('Eu sou Renata, tenho', idade, 'anos') # usando argumentos

Eu sou Renata, tenho 22 anos

In [41]:
print('Eu sou {} e tenho {} anos'.format(nome, idade)) #outra forma de usar o print

Eu sou Renata e tenho 22 anos

**Print com f string**  
Outra forma de utilizarmos o print com variáveis é por meio do que chamamos de f string.

In [42]:
print(f'Eu tenho {idade} anos')

Eu tenho 22 anos

**Bora praticar!**  
Escreva um programa que receba seu nome, sua idade e hobby e escreva uma única sentença que seja, por exemplo, "Meu nome é Renata, tenho 22 anos e meu hobby é viajar"

In [48]:
name = input('Enter your name: ')
age = int(input('Enter your age: '))
hobby = input('What\'s your hobby? ')

print(f"Hi! My name is {name}, I'm {age} years old and my hobby is {hobby}")

Hi! My name is Re, I'm 22 years old and my hobby is viajar

In [49]:
print(f'Meu nome é {input("Nome:")}, tenho {input("Idade:")} anos e meu hobby é {input("Hobby:")}')

Meu nome é Re, tenho 22 anos e meu hobby é viajar

## Operadores Algébricos

Rotineiramente nos deparamos com a necessidade de realizarmos cálculos, para isso podemos utilizar os operadores algébricos como conhecemos na matemática tradicional.

**Soma de dois valores**

In [51]:
2 + 2 #2+2

4

In [52]:
print(2 + 2)

4

In [53]:
print(8 - 5)

3

Resumindo:

| Símbolo | Operação        |
|---------|-----------------|
|    +    | soma            |
|    -    | subtração       |
|    *    | multiplicação   |
|    /    | divisão         |
|    //   | divisão inteira |
|    %    | resto           |
|    **   | potência        |

In [54]:
10//3

3

In [55]:
10%3

1

**Utilizando variáveis**

In [58]:
valor_01 = 10
valor_02 = 15

print(valor_01 + valor_02)

25

**Bora praticar!**  
Com tudo que vimos até o momento faça um programa que solicite ao usuário que insira seu ano de nascimento. Desconsiderando o mês do ano de nascimento, emita uma mensagem dizendo quantos anos ele possui.

In [63]:
ano = int(input('Digite seu ano de nascimento'))
ano_atual = 2022
idade = ano_atual - ano
print(f'Você possui {idade} anos de idade')

Você possui 22 anos de idade

In [64]:
birth_year = input('Please enter your year of birth: ')
age = 2022 - int(birth_year)
print(f'Your current age is {age}')

Your current age is 22

## Operadores de Comparação  
Os operadores de comparação são aqueles que possuem o objetivo de analisar os valores de uma expressão e retornar um valor booleano, ou seja, verdadeiro (1) ou falso (0).

In [65]:
print(3 > 2)

True

In [66]:
print(2 > 3)

False

In [69]:
print(2 == 3) # Cuidado, = é atribuição

False

In [70]:
print(2 == 2)

True

In [71]:
print(2 != 2) # diferença

False

**Bora praticar!**  
Imagine que você está implementando um sistema para verificar se os alunos de uma turma estudantil passaram na disciplina ou não. Para isso solicite que o usuário insira as notas das 4 provas realizadas por um estudante e calcule a média. Após isso, emita uma resposta booleana (True ou False) se o estudante passou na disciplina pensando que a média mínima para aprovação é que seja pelo menos 5.

Crie um algoritmo que calcule o IMC (índice de massa corporal). O IMC é calculado com a formula PESO/(ALTURA ^ 2). Para isso, coloque as informações nas variáveis e ao final apresente o resultado como no exemplo: "O IMC é 18"

Escreva um algoritmo que calcule (x + y) * (x + y). Os valores de x e y devem ser inseridos pelo usuário